@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
body{
    background-image: url(aserts/Forsaken_thumb.webp);
}
article{
    display: block;
    /* margin-left: 25%; */
    width: 100%;
    border: solid red;
    border-radius: 20px;
    background-color: black;
    border-radius: 10px;
    
    
}
.margin{
    margin: auto;
    display: flex;
    justify-content: center;
}
.white{
    color: white;
    display: flex;
    justify-content: center;
    size: 70px;
}


h1{
    font-family: Sekuya;
    display: flex;
    justify-content: center;
    color: white;
}
.Left{
    margin-left:  33%; ;
}
p{
    color: white;
}
header{
    display: block;
    background-color: black;
    height: 120px;
    width: 100%;
    border: solid red;
    border-radius: 20px;
}
.logo{
    margin-bottom: 10;
}
block{
    display: block;
}
a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 12px 32px;
    border: solid red;
    border-radius: 25px;
}
.Maain{
    display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    
}
.Lateral{
    grid-area: 1 / 1 / 2 / 2;
}
.Central{
    grid-area: 1 / 2 / 2 / 3;
}


